venv/
.venv/
**/__pycache__/
*.pyc
.env
deploy.py
node_modules/

# Портативный питон в корне
python.exe
pythonw.exe
*.dll
Lib/
Scripts/

# Тяжелые зависимости и бинарники
ffmpeg_shared/
weights/*
!weights/rife46/

output/
*.log