venv/
.venv/
*.pyc
.env
node_modules/

Backend/python.exe
Backend/pythonw.exe
Backend/*.dll
Backend/Lib/
Backend/Scripts/

Backend/ffmpeg_shared/
Backend/weights/*
!Backend/weights/rife46/

Backend/output/
Backend/*.log

**/__pycache__/
*.pyc
.env
deploy.py